* { 
	font-family: 'Raleway', sans-serif;
}

body {
	opacity: 1;
	margin: 0px;
	background: url(../img/wall.jpg) repeat;
	*background: url(../img/wall.jpg) no-repeat center center fixed; 
	*-webkit-background-size: cover;
	*-moz-background-size: cover;
	*-o-background-size: cover;
	*background-size: cover;
}

div#bgGrad {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -100;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center top, 0, center top, 560, color-stop(0, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,1)));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

div.outCont{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	padding: 20px 20px 20px 40px;
	opacity: 0;
	margin-top: -40px;
	z-index: -100;
}

div.midCont{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	display: table-cell;
    vertical-align: middle;
	z-index: -100;
}

div.mainCont {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: relative;
	width: 1210px;
	height: 645px;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 0px 0px 0px;
}

canvas#mainCanvas {
	position: absolute;
	z-index: -5;
	box-shadow: 0px 0px 15px #222222;
	background-image: url("../img/back.jpg");
}

div.scoreBoard {
	top: 0px;
	left: -20px;
	width: 940px;
	position: absolute;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 10px #555555;
}

div.chatBoard {
	position: absolute;
	display: table;
	right: 0px;
	top: 80px;
	height: 551px;
	width: 300px;
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #DDDDDD;
}

#msgLog {
	position: absolute;
	right: 0px;
	bottom: 60px;
	width: 100%;
	max-height: 492px;
	overflow: hidden;
	overflow-y: auto;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

span.msgElemName {
	font-weight: bold;
}

span.msgElemJoin {
	font-weight: bold;
	color: #005400;
}

span.msgElemLeave {
	font-weight: bold;
	color: #540000;
}

span.msgElemPersn {
	font-weight: bold;
}

div.msgElem {
	display: inline-block;
	font-size: 14px;
	margin-top: 10px;
	color: #222222;
	word-break: break-word;
}

#msgBox {
	position: absolute;
	bottom: 0px;
	left: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	min-width: 100%;
	max-width: 100%;
	min-height: 60px;
	max-height: 60px;
	background-color: rgba(255,255,255,0.6);
	margin: 0;
	padding: 5px;
	color: #333333;
	border-width: 0px;
	resize: none;
	font-size: 14px;
}

div#regBack {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
}

div#regCont {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	display: table;
    position: fixed;
    height: 100%;
    width: 100%;
	padding: 0px;
	opacity: 1;
	z-index: 10;
}

div.regInner {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	display: table-cell;
    vertical-align: middle;
}

div#regBlock {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: relative;
	width: 600px;
	height: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	opacity: 0;
	margin-bottom: 100px;
	padding: 0px 0px 0px 0px;
	background-color: #EEEEEE;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

input#playerName {
	position: absolute;
	display: block;
	left: 20px;
	top: 155px;
	width: 560px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	color: #555555;
	border: 1px solid #CCCCCC;
	outline: none;
	text-transform: capitalize;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

p.regTxt {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	top: 20px;
	font-size: 20px;
	text-align: center;
}

p.regTxtSecond {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	top: 50px;
	font-size: 15px;
	text-align: center;
	color: #555555;
}

p.nameHead {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	top: 105px;
	font-size: 20px;
	text-align: center;
}

div.toggleButton {
	position: absolute;
	background-color: #CCCCCC;
	color: #333333;
	text-align: center;
	line-height: 20px;
	padding: 10px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.toggleButton.front {
	bottom: 70px;
	height: 20px;
	width: 255px;
}

div.toggleButton.setts {
	height: 20px;
	width: 225px;
}

div.toggleButton.front.left{
	left: 20px;
}

div.toggleButton.front.right{
	right: 20px;
}

div.toggleButton.setts.left{
	left: 10px;
}

div.toggleButton.setts.right{
	right: 10px;
}

div.toggleButton:hover {
	*background-color: #BBBBBB
}

div.toggleButton.selected {
	background-color: #BBBBBB;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
}

div#regSubmit {
	position: absolute;
	bottom: 20px;
	right: 20px;
	left: 20px;
	height: 20px;
	background-color: #0081EA;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	padding: 10px;
	cursor: pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#regSubmit:hover {
	background-color: #0077d3
}

div#regSubmit:active {
	background-color: #0077d3
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
}

div.scoreNumBox {
	position: absolute;
	font-family: 'Changa One', cursive;
	font-size: 40px;
	line-height: 65px;
}

div#redScore {
	left: 60px;
	color: #AA0000;
}

div#blueScore {
	right: 60px;
	color: #0044AA;
}

div#scoreAlert {
	position: absolute;
	top: 70px;
	left: 20px;
	width: 860px;
	height: 563px;
	opacity: 0;
}

div#scoresTxt {	
	position: absolute;
	top: 200px;
	left: 0px;
	width: 100%;
	font-family: 'Changa One', cursive;
	font-size: 40px;
	text-shadow: 1px 1px 0px rgba(255,255,255,1);
	text-align: center;
	word-wrap: break-word
}

div.forBlue {
	color: #002288;
}

div.forRed {
	color: #990000;
}

div#lastKickBox{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
	bottom: 5px;
	font-family: 'Changa One', cursive;
}

div.lastKickRed {
	color: #AA0000;
}

div.lastKickBlue {
	color: #0044AA;
}

div#timeBox{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 10px;
	text-align: center;
	font-family: 'Changa One', cursive;
	font-size: 28px;
	color: #222222;
}

div#playerScores {
	position: absolute;
	top: 101px;
	left: 125px;
	width: 650px;
	height: 500px;
	background-color: rgba(255,255,255,0.93);
	box-shadow: 0px 0px 10px #555555;
	display: none;
	opacity: 0;
}

div#playerScores div#playerScoresHead {
	position: absolute;
	top: 15px;
	left: 0px;
	right: 0px;
	height: 40px;
	white-space: nowrap;
	font-family: 'Changa One', cursive;
	text-align: center;
	font-size: 27px;
	color: #222222;
}

div#playerScores div#playerScoreInner {
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	overflow-y: auto;
}

div#playerScores div.pScoreSide {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
}

div#playerScores div#redSide {
	left: 0px;
}

div#playerScores div#blueSide {
	right: 0px;
}

div#playerScores div.playerScoreCont *{
	display: table-cell;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
	font-family: 'Changa One', cursive;
}

div#playerScores div#redSide div.playerScoreName {
	width: 100%;
}

div#playerScores div#blueSide div.playerScoreVal {
	width: 100%;
}

div#playerScores div#redSide  *{
	color: #AA0000;
}

div#playerScores div#blueSide  *{
	color: #0044AA;
}

div#settingsCont {
	position: absolute;
	display: none;
	background-color: rgba(255,255,255,0.93);
	top: 101px;
	left: 200px;
	height: 420px;
	width: 500px;
	opacity: 0;
	z-index: 10;
	box-shadow: 0px 0px 10px #555555;
	padding: 70px 10px 10px 10px;
}

div#settingsCont *{
	font-family: 'Changa One', cursive;
	color: #333333;
}

div#settingsCont div#settingsHead {
	position: absolute;
	top: 15px;
	left: 0px;
	right: 0px;
	height: 40px;
	white-space: nowrap;
	text-align: center;
	font-size: 27px;
	color: #222222;
}

div.settingBlock {
	margin-bottom: 20px;
}

div.settingCtrl {
	height: 40px;
}

div.sideButton {
	position: absolute;
	left: -30px;
	height: 30px;
	width: 50px;
	background-color: rgba(255,255,255, 0.9);
	box-shadow: 0px 0px 15px #222222;
	z-index: -10;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border: 0px solid #000000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

div.sideButton:hover {
	left: -35px;
}

div.sideButton#scoreButton {
	top: 140px;
}

div.sideButton#settingsButton {
	top: 180px;
}

div.sideButton img {
	padding: 6px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

div.sideButton#scoreButton img {
	opacity: 0.7;
}

div.sideButton#settingsButton img{
	opacity: 0.9;
}

div.settingCtrl {
	margin-top: 7px;
}

input[type="number"]{
	height: 20px;
	width: 100px;
	padding: 5px;
	font-size: 15px;
}

div.footerTxt {
	position: absolute;
	bottom: 0px;
	font-size: 10px;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 10px;
	cursor: default;
}

div.footerTxt:hover {
	opacity: 0.7 !important;
}

div.footerTxt a {
	color: inherit;
	font-style: inherit;
	text-decoration: inherit;
}

div#version {
	right: 0px;
	color: #ffffff;
}

div#feedback{
	left: 0px;
	color: #ffffff;
}

img.closeXButton {
	position: absolute;
	top: 6px;
	right: 6px;
	height: 10px;
	width: 10px;
	opacity: 0.2;
	cursor: pointer;
}

img.closeXButton:hover {
	opacity: 0.3;
}

img.closeXButton:active {
	opacity: 0.4;
}